.about{
    color: white;
}
/* Large  */
@media only screen and (min-width: 768px) {
    .about{
        padding-top: 3rem;
    }
}
/* Medium */
@media only screen and (max-width: 768px) {
    .about{
        padding-top: 2rem;
    }
}
/* Small */
@media only screen and (max-width: 576px) {
    .about{
        padding-top: 1rem;
    }
}